<header>
    <br>
    <h1>Portobello Demo App</h1>
    <span class="emoji">🍄</span>
    <div style="padding-left: 1em; padding-right: 1em;">
        <h3>
            This is a demo app with authentication written in Angular 9.
        </h3>
        <h3>
            In the toolbar above you can go to a Kanban demo, or a Server Side Rendering with SEO demo.
        </h3>
        <h3>
            You can also view my Flutter apps via the drop down menu.
        </h3>
    </div>

    <br>
    <p>
        <a mat-raised-button
           href="https://github.com/epiphanatic/portobello"
           target="blank">Source</a>
    </p>


</header>