header {
    text-align: center;
}

img.emojione {
    // Override any img styles to ensure Emojis are displayed inline
    margin: 0px !important;
    display: inline !important;

}

span.emoji {
    font-size: 100px;
    vertical-align: middle;
    line-height: 1.5;
}